// ---------------------------------    ГЛАВНЫЙ КОНТЕЙНЕР ДЛЯ MAIN--------------------------------- 
.main-wrapper{
    margin: 0 auto;
    margin-left: 80px;
    background-color:#fafafa;
    width: 85%;
    display: flex;
    flex-wrap: wrap;
    

}
// --------------------------------- КОНТЕЙНЕР С ГРАФИКАМИ(PER HOUR/PER MONTH) --------------------------------- 
.main-graph{
    margin: 1% 0 0 0;
    background-color: #fff;

}
// ---------------------------------    КОНТЕЙНЕР С ГРАФИКОМ ЗА МЕСЯЦ   ---------------------------------
.main-graph__revenue{
    background: url(../img/main/shape.png) no-repeat;
    background-position: 30% 80%;
    background-size: 70%;
}
.main-graph__revenue--monthly{
    padding: 21px 0 0 21px;
    h3{
        font-family: 'Lato';
        font-size: 16px;
        color: #767676;
    }
}
.month-day-year{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.monthly-ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    li{
        @include fontPrimary;
        color: #BFBFBF;
        padding: 0 5px 0 16px;

    }
    .month{
        @include backColor;
        @include fontPrimary;

        padding: 5px 5px 5px 5px;
        font-size: 14px;
        font-weight: 900;
        text-align: center;

        color: #fff;
        border-radius: 20px;
    }
}
.day:hover{
    @include backColor;
    @include fontPrimary;

    padding: 7px 7px 7px 7px;
    font-size: 14px;
    font-weight: 900;
    text-align: center;

    color: #fff;
    border-radius: 20px;

    transition: 0.5s;
}
.month-qty{
    @include fontPrimary;
    font-weight: bold;
    
    list-style-type: none;
    color: #BFBFBF;
        li{
            padding: 25px;
        }
}
.month-12{
    @include fontPrimary;
    color: #bfbfbf;
    font-weight: bold;
    ul{
        list-style-type: none;
        padding: 0 0 0 80px;
        li{
            display: inline;
            padding: 0 10px 0 20px;
        }

    }
}
.main-graph__per_hour{
    margin: 1% 0 0 10%;
    width: 30%;

}
.per-hour{
    // padding:  0 120px 0 120px;
    text-align: center;
    background-color: #fff;
        ul{
            list-style-type: none;
            
            li{
                // padding: 0 0 9% 0;
                h3{
                    @include fontPrimary;
                    font-size: 14px;
                    color: #777777;
                    padding-top:10% ;
                    

                }
                h2{
                    @include fontPrimary;
                    
                    color: #8365C3;
                    font-size: 20px;
                    padding: 30% 0 30% 0;

                    background: url(../img/main/circle.png) no-repeat; 
                    background-position: 50% 50%;
                    background-size: 35%;
                }
            }
        }
}



